SIGNER_PK=""
SOL_PK=""
POLYGON_RPC_URL="https://polygon-mainnet.g.alchemy.com/v2/<API_KEY>"
BNB_RPC_URL="https://bnb-mainnet.g.alchemy.com/v2/<API_KEY>"
ARB_RPC_URL="https://arb-mainnet.g.alchemy.com/v2/<API_KEY>"
BASE_RPC_URL="https://base-mainnet.g.alchemy.com/v2/<API_KEY>"
SOL_RPC_URL="https://solana-mainnet.g.alchemy.com/v2/<API_KEY>"
TRON_RPC_URL="https://api.trongrid.io/jsonrpc"